<ion-content id="round" class="padding has-header has-footer">
  <div ng-repeat="site in roundvm.round.sites track by $index">
    <div class="card">
      <div class="site" ng-class="{ 'valid': site.site_valid, 'invalid': !site.site_valid }"></div>
      <a class="item item-icon-right">
        <div class="round-item" ng-click="roundvm.open($index)">
          <h2>{{ site.site_name }}</h2>
          <p>{{ site.address_detail }}</p>
          <p>
            {{ site.address_commune }}</p>
        </div>
        <i class="icon ion-ios-telephone-outline" ng-click="roundvm.call(site.phone_number)"></i>
      </a>
    </div>
  </div>
</ion-content>
<div class="bar bar-footer {{roundvm.validation.change.class }}">
  <div class="title" ng-click="roundvm.validate()">{{ roundvm.validation.change.value }}</div>
</div>
