<ion-content id="site" class="padding has-header has-footer" scroll="false">

  <div class="card">
    <div class="row">
      <div class="col col-75">{{ sitevm.site.address_detail }}
        <br>
        {{ sitevm.site.address_postal }}
        {{ sitevm.site.address_commune }}
      </div>
      <div class="col">
        <img class="center phone" src="assets/img/phone.png" ng-click="sitevm.call(sitevm.site.phone_number)">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-checkbox id="state" ng-model="sitevm.site.site_valid" ng-disabled="true">
          {{ sitevm.validation.state }}
        </ion-checkbox>
      </div>
    </div>

    <button class="item button button-block button-calm no-corner no-margin" ng-click="sitevm.scan()">
      {{ 'BTN.SCAN' | translate }}
    </button>

    <div class="list list-inset no-margin">
      <a class="item" ng-click="sitevm.modal_scanned('REC', sitevm.site.reception.length)">
        {{ 'SITE.RECEPTION' | translate }}
        <span class="badge badge-assertive">{{ sitevm.site.reception.length }}</span>
      </a>
      <a class="item" ng-click="sitevm.modal_scanned('DEL', sitevm.site.remises.length)">
        {{ 'SITE.DELIVERY' | translate }}
        <span class="badge badge-assertive">{{ sitevm.site.remises.length }}</span>
      </a>
      <a class="item" ng-click="sitevm.modal_scanned('TAK', sitevm.site.reprises.length)">
        {{ 'SITE.TAKEBACK' | translate }}
        <span class="badge badge-assertive">{{sitevm.site.reprises.length }}</span>
      </a>
    </div>
  </div>
</ion-content>

<div class="bar bar-footer {{ sitevm.validation.change.class }}">
  <div class="title" ng-click="sitevm.validate()">{{ sitevm.validation.change.value }}</div>
</div>
